<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <title>{{.Title}}</title>
    <script>
        function setBasicAuthHeader(form) {
            console.log("setBasicAuthHeader");
            const username = form.username.value;
            const password = form.password.value;
            const headers = new Headers();
            headers.set('Authorization', 'Basic ' + btoa(username + ':' + password));
            headers.set('X-CSRF-Token', '{{.CsrfToken}}');
            fetch(form.action, {
                method: form.method,
                headers: headers
            }).then(response => {
                if (response.ok) {
                    response.text().then(data => {
                        document.querySelector('html').innerHTML = data;
                    });
                } else {
                    alert('Login failed');
                }
            });
            return false;
        }
    </script>
</head>
<body>
<div class="v-center">
    <img src="./favicon.svg" class="absolute left-10 top-10 z-10 h-[120px] w-[120px]" alt="Open SPM Registry" />
    <div class="z-20 h-center">
        <div class="divide-y divide-gray-300/5 dark:divide-slate-50/5">
            <div class="space-y-2 py-2 text-base">
                <p class="text-xl font-bold">Login</p>
                <div class="overflow-y-scroll">
                    <form class="text-lg" method="POST" action="/login" onsubmit="return setBasicAuthHeader(this)">
                        <label class="-mr-2 inline-block w-3/12" for="username">Username:</label>
                        <input class="w-full sm:w-9/12" type="text" id="username" name="username" />
                        <label class="-mr-2 mt-5 inline-block w-3/12" for="password">Password:</label>
                        <input class="w-full justify-end sm:w-9/12" type="password" id="password" name="password" />
                        <br />
                        <input class="mx-[calc((100%-200px)/2)] mt-5 min-w-[200px]" type="submit" value="Login" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
